MYSQL_ROOT_PASSWORD=CHANGE_ROOT_PASSWORD
MYSQL_DATABASE=dthu_workday
MYSQL_USER=dthu_app
MYSQL_PASSWORD=CHANGE_APP_PASSWORD
JWT_SECRET=CHANGE_TO_A_RANDOM_SECRET_WITH_AT_LEAST_32_CHARACTERS
FRONTEND_PORT=3000
BACKEND_PORT=8080
